.profilePicture {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 20%;
}

.contact {
    padding-left: 10px;
}

.formSummuryError{
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.descriptionBlock {
    padding: 10px;
}
.photoChange{
    font-size: 15px;
    font-weight: 500;
}

.profileInformation{
    line-height: 1.5;
}

.profileInformation p {
    font-size: 30px;
    margin: 5px;
}

.profileStatus{
    font-style: italic;
    font-size: 20px;
    text-align: center;
}