.descriptionBlock {
    padding: 10px;
}

.profilePicture {
    width: 400px;
    height: 400px;
}

.contact {
    padding-left: 10px;
}

.formSummuryError{
    border: red 1px solid;
    padding: 5px;
    color: red;
}