.contact {
    padding-left: 10px;
}

.formSummaryError{
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.photoChange{
    font-size: 20px;
    font-weight: 400;
    display: none;
}

.profileInformation{
    line-height: 1.5;
}

.profileInformation p {
    font-size: 30px;
    margin: 5px;
}

.profileStatus {
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

.descriptionBlock {
    display: flex;
    padding: 10px;
}

.profilePictureWrapper {
    padding: 12px;
    max-height: 300px;
    border-radius: 20%;
    background: whitesmoke;
    border: 1px solid lightgray;
}

.profilePicture {
    border-radius: 20%;
    max-height: 300px;
}

.profileInfoWrapper {
    border-radius: 4%;
margin-left: 24px;
padding: 8px;
/* background: rgb(255, 244, 182); */
border: 1px solid lightgray;
}