.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px
}

.messages {
    padding: 10px;
}

.dialogsItems img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
}



